
.header .contact {
    position: absolute;
    top: 30%;
    padding-left: 200px;
    display: flex;
    align-items: flex-start;
}
.header .contact .details {
    color: burlywood;
    
}
.header .contact .details p,address {
    padding-top: 10px;
}
.header .contact .location .maprouter .gmap_canvas{
    margin: 100px  ;
    padding-left: 100px;

}
